 <div class="row align-items-end mb-4">
     <div class="col-md-4">
         <div class="form-group mb-4">
             <label class="cs-label">Date</label>
             {{ form_widget(form.date_decision) }}
         </div>
         <label class="cs-label mb-0">Décision</label>
         <div class="row">
             <div class="col-md-6">
                 <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                     <label class="cs-label mb-0">Abouti</label>
                     {{ form_row(form.Aboutisou, {label_attr: {class: 'switch-custom'} }) }}
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                     <label class="cs-label mb-0">Non Abouti</label>
                     {{ form_row(form.NAboutisou, {label_attr: {class: 'switch-custom'} }) }}
                 </div>
             </div>
             <div class="col-md-6">
             </div>
         </div>
     </div>
     <div class="col-md-8">
         <div class="form-group mb-0">
             <label class="cs-label">{{ form_label(form.details_libres_sou_decision) }}</label>
             {{ form_widget(form.details_libres_sou_decision,{'attr':{'rows':5}}) }}
         </div>
     </div>
     <div class="col-lg-4" id="Motif_sou">
         <div class="form-group mb-4">
             <label class="cs-label">Motif</label>
             {{ form_widget(form.Motif_sou) }}
         </div>
         <div class="form-group mt-2">
            <label class="cs-label mb-0">PV Clôture</label>
            {{ form_row(form.pv_cloture_nabouti_sou) }}
            <div class="form-group con_decision mb-2 mt-2">
                {{ form_widget(form.date_pv_cloture_nabouti_sou) }}
            </div>
        </div>
     </div>
 </div>
 <div class="divider30"></div>
 <div class="row mb-4" style="display:none;" id="seemore_sourcing">
     <div class="col-md-4">
         <div class="form-group mb-4 form-control d-flex justify-content-between align-items-center">
             <label class="cs-label mb-0">Commande</label>
             {{ form_row(form.Commandesou, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         {# <div class="form-group con_decision mb-4">
             {{ form_widget(form.date_signature_cmd) }}
         </div> #}
         <div class="form-group con_decision mb-4" id="document_CMD_sou">
             {{ form_widget(form.document_CMD_sou) }}
         </div>
     </div>
     <div class="col-md-4">
         <div class="form-group mb-4 form-control d-flex justify-content-between align-items-center">
             <label class="cs-label mb-0">Signature de contrat</label>
             {{ form_row(form.Signaturedecontrat, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         <div class="form-group con_decision mb-4">
             {{ form_widget(form.date_signature_sou) }}
         </div>
         <div class="form-group con_decision mb-4" id="document_contra_sou">
             {{ form_widget(form.document_contra_sou) }}
         </div>
     </div>
     <div class="col-md-4">
         <div class="form-group form-control mb-4 d-flex justify-content-between align-items-center">
             <label class="cs-label mb-0">Création d'une platforme locale</label>
             {{ form_widget(form.plateformelocal, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         <div class="form-group con_decision mb-4">
             {{ form_widget(form.type_doc_sour) }}
         </div>
         <div class="form-group con_decision mb-4" id="pv56OR0">
             {{ form_widget(form.date_signature_pv) }}
         </div>
         <div class="form-group con_decision mb-4" id="document_pv_cloture_sou">
             {{ form_widget(form.document_pv_cloture_sou) }}
         </div>
     </div>
 </div>
 <div class="row" style="display:none;" id="seemore_sourcing02">
     <div class="col-md-4">
         <div class="form-group mb-2 mt15 form-control d-flex justify-content-between align-items-center">
             <label class="cs-label mb-0">PV de clôture</label>
             {{ form_row(form.pvcloture, {label_attr: {class: 'switch-custom'} }) }}
         </div>
     </div>
     <div class="col-md-4">
     </div>
     <div class="col-md-4">
     </div>
 </div>
 <div class="row mb-4" style="display:none;" id="seemore_sourcing03">
     <div class="col-md-4">
         <div class="form-group mt25 mb-4">
             {{ form_widget(form.Compte_exportateur,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
         <div class="form-group mb-4">
             <label class="cs-label">Date</label>
             {{ form_widget(form.date_decision_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
         <div class="form-group mb-4">
             <label class="cs-label">Valeur de commande (Millions/DHs)</label>
             {{ form_widget(form.valeur_cmd_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
     </div>
     <div class="col-md-4">

         <div class="form-group mb-2">
             <label class="cs-label">Secteur</label>
             {{ form_widget(form.secteur_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
         <div class="form-group mb-2">
             <label class="cs-label">Référence</label>
             {{ form_widget(form.reference_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
     </div>
     <div class="col-md-4">
         <div class="form-group mb-2">
             <label class="cs-label">Ecosystème/Filière</label>
             {{ form_widget(form.eco_fil_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
         <div class="form-group mb-2">
             <label class="cs-label">Produit</label>
             {{ form_widget(form.produit_sou,{ 'attr':{'disabled':'disabled'} }) }}
         </div>
     </div>
 </div>

 <!-- Modal -->
 {# <div class="modal fade decision_modelsou" id="decisionmodalsou" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="tab-content cs-tab-content no-left-padding no-right-padding info-displayedex">
         <div class="tab-pane fade show active" role="tabpanel">
             <div class="divider30"></div>
             <div class="row mb-4">
                 <div class="col-md-4">
                     <div class="form-group mb-4 form-control d-flex justify-content-between align-items-center">
                         <label class="cs-label mb-0">Commande</label>
                         {{ form_row(form.Commandesou, {label_attr: {class: 'switch-custom'} }) }}
                     </div>
                 </div>
                 <div class="col-md-4">

                     <div class="form-group mb-4 form-control d-flex justify-content-between align-items-center">
                         <label class="cs-label mb-0">Signature de contrat</label>
                         {{ form_row(form.Signaturedecontrat, {label_attr: {class: 'switch-custom'} }) }}
                     </div>
                     <div class="form-group con_decision mb-4">
                         {{ form_widget(form.date_signature_sou) }}
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="form-group form-control mb-4 d-flex justify-content-between align-items-center">
                         <label class="cs-label mb-0">Création d'une platforme locale</label>
                         {{ form_widget(form.plateformelocal, {label_attr: {class: 'switch-custom'} }) }}
                     </div>
                     <div class="form-group con_decision mb-4">
                         {{ form_widget(form.type_doc_sour) }}
                     </div>

                 </div>
             </div>
             <div class="row">
                 <div class="col-md-4">
                     <div class="form-group mb-2 mt15 form-control d-flex justify-content-between align-items-center">
                         <label class="cs-label mb-0">PV de clôture</label>
                         {{ form_row(form.pvcloture, {label_attr: {class: 'switch-custom'} }) }}
                     </div>
                 </div>
                 <div class="col-md-4">
                 </div>
                 <div class="col-md-4">
                 </div>
             </div>
             <div class="divider130"></div>
             <div class="row mb-4">
                 <div class="col-md-4">
                     <div class="form-group mt25 mb-4">
                         {{ form_widget(form.Compte_exportateur,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                     <div class="form-group mb-4">
                         <label class="cs-label lwithe">Date</label>
                         {{ form_widget(form.date_decision_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                     <div class="form-group mb-4">
                         <label class="cs-label lwithe">Valeur de la commande</label>
                         {{ form_widget(form.valeur_cmd_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                 </div>
                 <div class="col-md-4">

                     <div class="form-group mb-2">
                         <label class="cs-label lwithe">Secteur</label>
                         {{ form_widget(form.secteur_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                     <div class="form-group mb-2">
                         <label class="cs-label lwithe">Référence</label>
                         {{ form_widget(form.reference_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="form-group mb-2">
                         <label class="cs-label lwithe">Ecosystème/Filière</label>
                         {{ form_widget(form.eco_fil_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>
                     <div class="form-group mb-2">
                         <label class="cs-label lwithe">Produit</label>
                         {{ form_widget(form.produit_sou,{ 'attr':{'disabled':'disabled'} }) }}
                     </div>

                 </div>
             </div>

         </div>
     </div>
 </div> #}