<div class="container">
    <div class="row">
        <div class="activite">
        <div class="filter-project">
			
			<div class="sidebare-filter activite-filter " style="height: 630px;">
            <a class="btn-filtre" style="position: absolute;top: 15px;right: 15px;">
				<img class="img-filtre" src="{{ asset('images/icons/filter-project.svg') }}" alt="">
			</a>
                   <form method="post">
					<div>
                    <div class="form-group">
                        <label class="required" for="log_status">Log status</label>
                        <select id="log_status" name="log_status" class="form-control">
                        <option value=""></option>
                        <option value="Considération">Considération</option>
                        <option value="Prospection">Prospection</option>
                        <option value="Intérêt">Intérêt</option>
                        <option value="Décision">Décision</option>
                        <option value="Suivi">Suivi</option>
                        <option value="Fermé">Fermé</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="log_date" class="required">Période log</label>
                        <input type="date" id="log_date" name="log_date" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="log_date_end" class="required"> </label>
                        <input type="date" id="log_date_end" name="log_date_end" required="required" class="form-control">
                    </div>
                    </div>
					</form>
					<a style="width: 100%" href="#" class="btn btn-btn-blue" onclick="logfiltrepro()">Filtre</a>
			</div>
		</div>
            <div class="header">
                <ul class="form-project form-activite">
                    <li class="active title-btn">Actions</li>
                    <li class="pull-right add-activte">
                        <a class="" href="{{ path('log_projet_new',{'id':projet.id}) }}">
                            <i class="fa  fa-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="scroll_container">
                <div class="wrapper-item-activite scroll_content">
                    <div class="wrape-filter">
                        <div class="filter">
                            <a onclick="logallfiltrepro()"><span>Tout</span></a>
                            <a class="btn-filtre"><img src="{{ asset('images/icons/filter.png') }}" alt=""></a>
                        </div>
                    </div>
                   <div id="log_filtre_projet">
                    {% for log in logs_projet %}
                    <div class="item-activite">
                        <div class="wrap-img-activite">
                            <img src="{{ asset('images/icons/confirm.svg') }}" alt="">
                        </div>
                        <div class="wrapper-content">
                            <div class="content">
                                <div class="header">

                                    {% if log.duree %}
                                    <strong>{{ log.status }} ({{ log.duree}}) Jour</strong>
                                    {% else %}
                                    <strong>{{ log.status }} </strong>
                                    {% endif %}
                                    <div class="date">
                                        {{ log.dateCreation ? log.dateCreation|date('d/m/Y'):'' }}</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="body">
                                    <span></span>
                                    <p>{{ log.commentaire |nl2br}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   </div>

                </div> <!--  End Wrapper item activite -->
            </div>
        </div>
    </div>
</div>
<script>
    function logfiltrepro(){
    var log_status = $("select[name='log_status']").val();
    var log_date = $("input[name='log_date']").val();
    var log_date_end = $("input[name='log_date_end']").val();
    var path = "{{ path('compte_log_filtre') }}";

        console.log(log_status);
        console.log(log_date);
        console.log(log_date_end);

            $.ajax({
                url:     "{{ path('projet_log_filtre') }}",  
                type:      'POST',   
                dataType: 'html', 
                async:      true,  
                data: {
                        log_status: log_status,
                        log_date: log_date,
                        log_date_end: log_date_end,
                        projet: {{projet.id}}

                    },
                success: function (data) {
                document.getElementById("log_filtre_projet").innerHTML = data;
                $('.sidebare-filter').css('display', 'none');

                },
                error: function(response){
                alert("error !"+response);
            }
            }); 
}
    function logallfiltrepro(){
    
            $.ajax({
                url:     "{{ path('projet_log_filtre_all') }}",  
                type:      'POST',   
                dataType: 'html', 
                async:      true,  
                data: {
                        projet: {{projet.id}}
                    },
                success: function (data) {
                document.getElementById("log_filtre_projet").innerHTML = data;
                $('.sidebare-filter').css('display', 'none');

                },
                error: function(response){
                alert("error !"+response);
            }
            });
}
</script>