<div id="log_filtre_projet">
    {% for log in logs_projet %}
    <div class="item-activite">
        <div class="wrap-img-activite">
            <img src="{{ asset('images/icons/confirm.svg') }}" alt="">
        </div>
        <div class="wrapper-content">
            <div class="content">
                <div class="header">

                    {% if log.duree %}
                    <strong>{{ log.status }} ({{ log.duree}}) Jour</strong>
                    {% else %}
                    <strong>{{ log.status }} </strong>
                    {% endif %}
                    <div class="date">
                        {{ log.dateCreation ? log.dateCreation|date('d/m/Y'):'' }}</div>
                    <div class="clear"></div>
                </div>
                <div class="body">
                    <span></span>
                    <p>{{ log.commentaire |nl2br}} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>