{% extends 'base.html.twig' %}

{% block title %}TypeCompte index
{% endblock %}

{% block navbar_right %}
	<li class="nav-item">
		<a href="{{ path('type_compte_new') }}" class="btn btn-float text-default btn-blue">
			<i class="icon-add"></i>
			<span>
				{{'compte.Create_new'| trans}}</span>
		</a>
	</li>
{% endblock %}
{% block navbar_left %}{% endblock %}

{% block body %}


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type_compte in type_comptes %}
				<tr>
					<td>{{ type_compte.id }}</td>
					<td>{{ type_compte.nom }}</td>
					<td>
						<a href="{{ path('type_compte_show', {'id': type_compte.id}) }}">show</a>
						<a href="{{ path('type_compte_edit', {'id': type_compte.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('type_compte_new') }}">Create new</a>
{% endblock %}
