 <div class="hide">
 {{ form_widget(form.centreDecision) }}
 {{ form_widget(form.chiffreAffaires) }}
 {{ form_widget(form.detailLibre) }}
 {{ form_widget(form.type) }}
 {{ form_widget(form.paysSiege) }}
 {{ form_widget(form.secteurs) }}
 {# {{ form_widget(form.ecosystemeFiliere) }} #}
 {# {{ form_widget(form.date_prospe) }} #}
 {{ form_widget(form.paysImplantationSuccursales) }}
 {{ form_widget(form.categorie) }}
     
</div>