  <div class="form-group" style="display: none">
      {{ form_widget(form.gere_par) }}
      {{ form_widget(form.type_invest) }}
      {{ form_widget(form.mantant_invest) }}
      {{ form_widget(form.nb_emplois_directs_invest) }}
      {{ form_widget(form.nb_emplois_Indirects_invest) }}
      {{ form_widget(form.nb_emplois_Induits_invest) }}
      {{ form_widget(form.horizon_projet_invest) }}
      {{ form_widget(form.mecanisme_accomp_invest) }}
      {{ form_widget(form.localisation_invest) }}
      {{ form_widget(form.Province) }}
  </div>