{% extends 'base.html.twig' %}

{% block title %}LogProjet{% endblock %}

{% block body %}
    <h1>LogProjet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log_projet.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ log_projet.status }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ log_projet.dateCreation ? log_projet.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ log_projet.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('log_projet_index') }}">back to list</a>

    <a href="{{ path('log_projet_edit', {'id': log_projet.id}) }}">edit</a>

    {{ include('log_projet/_delete_form.html.twig') }}
{% endblock %}
