<div class="row">
    {# <div class="col-lg-4">
        <p>Action Réalisée</p>
        <div class="form-group mb-2">
            <label class="cs-label">Date</label>
            {{ form_widget(form.Date_reali) }}
        </div>
        <div class="form-group mb-2">
            <label class="cs-label">Action Réalisée</label>
            {{ form_widget(form.Action_realise) }}
        </div>
        <div class="form-group mb-2" id="prom00">
            <label class="cs-label">Objet</label>
            {{ form_widget(form.ObjetComptes) }}
        </div>
        <div class="form-group mb-2" id="invit00">
            <label class="cs-label">Objet</label>
            {{ form_widget(form.ObjetCompteseve) }}
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group mb-2">
            <label class="cs-label">Détails</label>
            {{ form_widget(form.detail_libre_realise) }}
        </div>
    </div> #}
</div>