{% extends 'base.html.twig' %}

{% block title %}
	{{'compte.Liste_compte'| trans}}
{% endblock %}

{% block sous_title %}
	{{'compte.Compte'| trans | upper }}
{% endblock %}
{% block header_search %}
	{% if secteur_active %}
<form class="form-inline" action="{{ path('projets_filtre',{'id':secteur_active.id}) }}" method="get">
	{% else %}
	<form class="form-inline" action="{{ path('projets_filtre') }}" method="get">
		{% endif %}
		{# <input class="form-control mr-sm-2" name="search" type="search" placeholder="Chercher" aria-label="Chercher"> #}
	</form>
	{% endblock %}
	{% block stylesheets %}
		<style type="text/css">
			/** Twitter Typeahead **/
			.twitter-typeahead, .typeahead, .empty-message  {
				width: 100%;
			}
			.tt-menu {
				background: white;
				width: 100%;
			}
			.tt-suggestion {
				overflow: hidden;
				display: table;
				width: 100%;
				padding: 10px 10px;
				border-bottom: 1px solid #e9ecf2;
			}
			/** Movie Card (Movie Suggestions) **/
			.movie-card {
				position: relative;
				padding: 8px;
			}
			.movie-card-poster {
				position: absolute;
				top: 8px;
				left: 8px;
				width: 52px;
				height: 52px;
				border: 2px solid #ccd6dd;
				border-radius: 5px;
			}
			.movie-card:hover .movie-card-poster {
				border-color: #f5f8fa;
			}
			.movie-card-details {
				min-height: 60px;
				padding-left: 60px;
			}
			.movie-card-name,
			.movie-card-year {
				display: inline-block;
			}
			.movie-card-name {
				font-weight: 700;
			}
			.movie-card-year {
				color: #8899a6;
			}
			.movie-card:hover .movie-card-year {
				color: #fff;
			}
			.movie-card-plot {
				margin-top: 5px;
				font-size: 14px;
				line-height: 18px;
			}
			.movie-card:hover,
			.movie-card.is-active {
				color: #fff;
				background: #0088CC;
				cursor: pointer;
			}
			.empty-message {
				position: relative;
				padding: 10px;
				font-size: 16px;
				line-height: 30px;
				text-align: center;
			}
		</style>
	{% endblock %}
	{% block navbar_right %}
		<li class="nav-item">
			<div class="dropdown">
				<a href="{{ path('compte_importer') }}" class="btn btn-float text-default btn-blue">
					<i class="fa fa-upload"></i>
				</a>
				<button class="btn btn-blue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-plus"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="{{ path('compte_new',{id : 1 }) }}">Compte INV</a>
					<a class="dropdown-item" href="{{ path('compte_new',{id : 2 }) }}">Compte EXP</a>
					<a class="dropdown-item" href="{{ path('compte_new',{id : 3 }) }}">Compte DO</a>
					<a class="dropdown-item" href="{{ path('compte_new',{id : 4 }) }}">Partenaire</a>
				</div>
			</div>
		</li>
		<a class="btn btn-blue download" href="#"  >
			Télécharger &nbsp;<i class="fa fa-download"></i>
		</a>
	{% endblock %}
	{% block navbar_left %}
		<li class="nav-item nav-item-secteur">
			<div class="dropdown">
				<button class="btn btn-blue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span style="border-bottom: 3px solid {{ secteur_active ? secteur_active.color : 'red' }}">{{ secteur_active ? secteur_active.nom : 'Tous' }}</span>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% if secteur_active %}
						<a class="dropdown-item list-secteurs" href="#" data-secteur="">Tous</a>
					{% endif %}

					{% for secteur in secteurs %}

						{% if secteur_active and secteur_active.id == secteur.id %}
							<a class="dropdown-item d-none list-secteurs" data-secteur="{{ secteur.id }}" href="#">{{ secteur.nom }}</a>
						{% else %}
							<a class="dropdown-item list-secteurs" data-secteur="{{ secteur.id }}" href="#">{{ secteur.nom }}</a>
						{% endif %}
					{% endfor %}
					{# {% for type in type_projet %}
					<a class="dropdown-item" href="{{ path('projets_new',{id : type.id }) }}">{{ type.nom }}</a>
				{% endfor %} #}
				</div>
			</div>
		</li>
	{% endblock %}
	{% block body %}

		<div class="row row-wrape-filter-project">
			<div  class="col-lg-0"  style="width: 300px;background-color: #FFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    padding-top: 30px;
    padding-left: 7px;">
				<div class="filter-project">
					{{ form_start(form,{'attr':{'id':'form_filtre'}}) }}
					{{ form_widget(form) }}
					<button style="width: 100%" class="btn btn-btn-blue" id="filtre">Filtre</button>
					{{ form_end(form) }}
				</div>
			</div>
			<div class="col-lg-3 pr-2 side-bar-list-project">
				<div class="row">
					{# <div class="col-lg-2 wrape-filter-project">
						<div class="filter-project">
							<a href="">
							<img src="{{ asset('images/icons/filter-project.svg') }}" alt="">
							</a>
						</div>
					</div> #}
					<div class="col-lg-12 wrape-list-project">
						{# Start Container List Project #}
						<div class="items-container items-container-project ">

							<div class="items-container-header">
								<h3>Comptes ({{ comptes|length }})

									<span style="float:right">
										<div class="btn-group">
										  <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										  </button>
										  <div class="dropdown-menu">
											<a class="dropdown-item tri" data-tri="date" href="#">Par date</a>
											<a class="dropdown-item tri" data-tri="compte" href="#">Par compte</a>
										  </div>
										</div>

										</span>
								</h3>

							</div>

							<div class="scroll_container_project">
								<div class="scroll_content_project parent-ajax">
									<ul id="list-compte" >
										{% for compte in comptes %}
											<li class="list-compte" data-id="{{ compte.id }}" data-source="{{ path('compte_show', {'id': compte.id }) }}">

												<div class="d-flex justify-content-between align-items-center">
													<div class="d-flex justify-content-between align-items-center">
														<span class="item-logo">
															<img src="{{ asset("uploads/"~ (compte.logo ? compte.logo.filename: 'logo_default.png')) }}" alt="" class="img-fluid">
														</span>
														<h4  class="item-title">{{ compte.nomCompte }}</h4>
													</div>
													<div class="d-flex justify-content-between align-items-center">
														<span class="item-options"></span>
														<span class="item-date">{{ compte.dateCreation ? compte.dateCreation|date('d/m/Y'):'' }}</span>
													</div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						{# End  Container List Project#}
					</div>
				</div>

			</div>
			<div class="col-lg-8 pl-2 body-container">
				{# <a class="cross" href="#" display="hidden">X</a> #}
				<div id="item-details-wrapper" style="margin-left: 15px;">
					<div class="item-details-empty">
						<img src="{{ asset('images/dashboard.png') }}" class="img-fluid">
						<h3>Merci de sélectionner un compte</h3>
					</div>
				</div>
			</div>
		</div>

		{% block javascripts %}{% endblock %}
		<script>
			jQuery(document).ready(function($){
				$(document).on('click', '.list-secteurs', function(e){
					e.preventDefault();
					var secteur = $(this).data('secteur');
					$('#secteur').val(secteur);
					//console.log(source);
					$( "#telecharger" ).remove();
					$('#form_filtre').submit();
				})
				$(document).on('click', '.download', function(e){
					e.preventDefault();
					$('#form_filtre').append('<input type="hidden" id="telecharger" name="telecharger" value="1">');
					$('#form_filtre').submit();
				})
				$(document).on('click', '.tri', function(e){
					e.preventDefault();
					var tri = $(this).data('tri');
					$('#tri').val(tri);
					$( "#telecharger" ).remove();
					// console.log(tri);
					$('#form_filtre').submit();
				})
				$("#filtre").click(function (e){
					e.preventDefault();
					$( "#telecharger" ).remove();
					changeAutocomplate();
					$( "#form_filtre" ).submit();

				});
				function changeAutocomplate(){
					if($('#compte_filtre').val() == ''){
						//alert($('#compte_filtre').val());
						$('#compte').val('');
					}
					if($('#user_filtre').val() == ''){
						//alert($('#user_filtre').val());
						$('#gerePar').val('');
					}

				}

			})

		</script>
		<script type="text/javascript" src="{{ asset('js/bloodhound.jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/typeahead.jquery.min.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function ()
			{
				var users = new Bloodhound(
						{
							datumTokenizer: Bloodhound.tokenizers.whitespace,
							queryTokenizer: Bloodhound.tokenizers.whitespace,
							remote: {
								url: "{{ path('handle_search_users') }}/%QUERY%",
								wildcard: '%QUERY%',
								filter: function (users)
								{
									return $.map(users, function (user)
									{
										return {
											user_id: user.id,
											nomUser: user.prenom+' '+user.nom,
										}
									})
								}
							}
						})
				users.initialize();

				$('#user_filtre').typeahead(
						{
							hint: true
						},
						{
							name: 'users',
							source: users.ttAdapter(),
							display: 'nomUser',
							templates: {
								suggestion: function (data)
								{
									return `
                                <div>
                                    <strong>`+data.nomUser+`</strong>
                                </div>
                            `
								}
							}
						})
				$('#user_filtre').bind('typeahead:select', function(ev, suggestion) {
					//console.table( suggestion.state_id);
					$("#gerePar").val(suggestion.user_id);
				});
			})
		</script>
	{% endblock %}
