<div class="col-lg-12 content-info">

    <div class="header">
        <ul>
            <li class="active title-btn capitalize">informations primaires</li>
        </ul>
    </div>
    <div class="item-details">

        <div class="item-details-body" style="padding-left: 20px;padding-right: 20px;">

            <div class="tab-content cs-tab-content">
                <div class="tab-pane fade show active" id="item-details-project" role="tabpanel">
                    <div class="row align-items-end mb-4">
                        <div class="col-lg-6">
                        <div class="form-group mb-2">

                                    {{ form_label(form.gere_par) }}
                                    {{ form_widget(form.gere_par ,{'attr': {'class': 'form-group gere_par'}}) }}


                            </div>
                            <div class="form-group mb-0">

                              <label class="cs-label mb-0">Intitulé</label>
                                    {{ form_widget(form.intitule_projet) }} 
                                    {{ form_errors(form.intitule_projet) }}

                            </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group mb-4">
                                {{ form_label(form.etatProjet) }}
                                {{ form_widget(form.etatProjet) }}
                                </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                                        <label class="cs-label mb-0">Confidentiel</label>
                                       {#  <label class="cs-checkbox">
                                            {{ form_widget(form.Confidentiel) }}
                                            <span>&nbsp;</span>
                                        </label> #}
                                        {{ form_row(form.Confidentiel, {label_attr: {class: 'switch-custom'} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                                         <label class="cs-label mb-0">Stratégique</label>
                                        {#<label class="cs-checkbox">
                                            {{ form_widget(form.Prioritaire) }}f
                                            <span>&nbsp;</span>
                                        </label> #}
                                        {{ form_row(form.Prioritaire, {label_attr: {class: 'switch-custom'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        <div class="form-group mb-4">
                                {# <label class="cs-label">{{ form_label(form.compte) }}</label>
                                {{ form_widget(form.compte ,{'attr': {'class': 'form-group compte'}}) }} #}

                                	<div class="thumb">
									<h6>{{compte.nomCompte}}</h6>
									 <img src="{{ asset("uploads/"~ (compte.logo ? compte.logo.filename: 'logo_default.png')) }}"
											alt="" class="clip-circle" style="width: 200px;height: 200px;border-radius: 100px;">
								</div>
								<div style="display:none">
								{{ form_widget(form.compte) }}
								</div>
                        </div>
                                <div class="form-group mb-4">
                                    <label class="cs-label">{{ form_label(form.secteur_sou) }}</label>
								    {{ form_widget(form.secteur_sou ,{'attr': {'class': 'form-group secteur_sou'}}) }}
							    </div>
								 
								 {# <div class="form-group mb-2 d-flex justify-content-between align-items-center"> #}
                                        {#  <label class="cs-checkbox">
                                            {{ form_widget(form.Confidentiel) }}
                                            <span>&nbsp;</span>
                                        </label> #}
                                        {# {{ form_row(form.GPAC, {label_attr: {class: 'switch-custom'} }) }} #}
                                    {# </div> #}
                            
                            <div class="form-group mb-4">
                              <label class="cs-label">{{ form_label(form.zone_cible) }}</label>                                  
                                {{ form_widget(form.zone_cible,{'attr': {'class': 'form-group zone_cible'}}) }}
                                {{ form_errors(form.zone_cible) }}
                              <label class="cs-label">{{ form_label(form.pays_command) }}</label>
                                {{ form_widget(form.pays_command,{'attr': {'class': 'form-group pays_command'}}) }}
                                {{ form_errors(form.pays_command) }}
                            </div>
                            
                            <div class="form-group">
                                <label class="cs-label">{{ form_label(form.Documents) }}</label>
                                <label class="cs-input-file mb-2">
                                    {{ form_widget(form.Documents,{'attr':{'class':'file'}}) }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-4">
                                <label class="cs-label">{{ form_label(form.Description_projet) }}</label>
                                {{ form_widget(form.Description_projet,{'attr':{'rows':5}}) }}
                            </div>
                            <div class="form-group">
                                <label class="cs-label">{{ form_label(form.details_libres) }}</label>
                                {{ form_widget(form.details_libres,{'attr':{'rows':5}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div style="display:none">
{{ form_row(form.GPAC, {label_attr: {class: 'switch-custom'} }) }}

</div>
</div>
<script>
$(document).ready(function() {
    $('.gere_par').select2();
    $('.compte').select2();
    $('.secteur_sou').select2();
    $('.zone_cible').select2();
    $('.pays_command').select2();

});
</script>

