 <div class="row align-items-end mb-4">
     <div class="col-md-4">
         <div class="form-group mb-4">
             <label class="cs-label">Date</label>
             {{ form_widget(form.date_decision) }}
         </div>
         <label class="cs-label mb-0">Décision</label>
         <div class="row">
             <div class="col-md-6">
                 <div class="form-group mb-2 d-flex align-items-centert">
                     <label class="cs-label mb-0">{{ form_label(form.Aboutisou) }}</label>
                     {{ form_row(form.Aboutisou, {label_attr: {class: 'switch-custom'} }) }}
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group mb-2 d-flex align-items-centert">
                     <label class="cs-label mb-0">{{ form_label(form.NAboutisou) }}</label>
                     {{ form_row(form.NAboutisou, {label_attr: {class: 'switch-custom'} }) }}
                 </div>
             </div>
             <div class="col-md-6">
             </div>
         </div>
     </div>
     <div class="col-md-8">
         <div class="form-group mb-0">
             <label class="cs-label">{{ form_label(form.details_libres_sou_decision) }}</label>
             {{ form_widget(form.details_libres_sou_decision,{'attr':{'rows':5}}) }}
         </div>
     </div>
     <div class="col-lg-4" id="Motif_sou">
         <div class="form-group mb-4">
             <label class="cs-label">Motif</label>
             {{ form_widget(form.Motif_sou) }}
         </div>
         <div class="form-group mt-2">
            {{ form_row(form.pv_cloture_nabouti_sou) }}
            {% for data in projet.projetsData %}
            {% if(data.cle == "pv_cloture_nabouti_sou") %}
                <a href="{{ asset("uploads/"~ (data.value)) }}" target="_blink">
                    {{data.value}}
                </a> <span class="" id="{{data.id}}" onclick="confirmeRemProjet(this.id)">
                    <i class="fa fa-trash"></i>
                </span>
            {% endif %}
            {% endfor %}
            <div class="form-group con_decision mb-2 mt-2">
                {{ form_widget(form.date_pv_cloture_nabouti_sou) }}
            </div>
        </div>
     </div>
 </div>
 <div class="divider30"></div>
 <div class="row mb-4" style="display:none;" id="seemore_sourcing">
     <div class="col-md-3">
         <div class="form-group mb-4 form-control d-flex align-items-centert">
             <label class="cs-label mb-0">{{ form_label(form.Commandesou) }}</label>
             {{ form_row(form.Commandesou, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         {# <div class="form-group con_decision mb-4">
             {{ form_widget(form.date_signature_cmd) }}
         </div> #}
         <div class="form-group con_decision mb-4" id="document_CMD_sou">
             {{ form_widget(form.document_CMD_sou) }}
         </div>
        <div id="document_CMD_souooo">
         {% for data in projet.projetsData %}
        {% if(data.cle == "document_CMD_sou") %}
        <a href="{{ asset("uploads/"~ (data.value)) }}" target="_blink">
            {{data.value}}
        </a> <span class="" id="{{data.id}}" onclick="confirmeRemProjet(this.id)">
            <i class="fa fa-trash"></i>
        </span>
        {% endif %}
        {% endfor %}
        </div>
     </div>
     <div class="col-md-3">
         <div class="form-group mb-4 form-control d-flex align-items-centert">
             <label class="cs-label mb-0">{{ form_label(form.Signaturedecontrat) }}</label>
             {{ form_row(form.Signaturedecontrat, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         <div class="form-group con_decision mb-4">
             {{ form_widget(form.date_signature_sou) }}
         </div>
         <div class="form-group con_decision mb-4" id="document_contra_sou">
             {{ form_widget(form.document_contra_sou) }}
         </div>
         <div id="document_contra_souooo">
         {% for data in projet.projetsData %}
        {% if(data.cle == "document_contra_sou") %}
        <a href="{{ asset("uploads/"~ (data.value)) }}" target="_blink">
            {{data.value}}
        </a> <span class="" id="{{data.id}}" onclick="confirmeRemProjet(this.id)">
            <i class="fa fa-trash"></i>
        </span>
        {% endif %}
        {% endfor %}
         </div>
     </div>
     <div class="col-md-3">
         <div class="form-group form-control mb-4 d-flex align-items-centert">
             <label class="cs-label mb-0">{{ form_label(form.plateformelocal) }}</label>
             {{ form_widget(form.plateformelocal, {label_attr: {class: 'switch-custom'} }) }}
         </div>
         <div class="form-group con_decision mb-4">
            <label class="cs-label mb-0">Type de document</label>
             {{ form_widget(form.type_doc_sour) }}
         </div>
         <div class="form-group con_decision mb-4" id="pv56OR0">
             {{ form_widget(form.date_signature_pv) }}
         </div>
         <div class="form-group con_decision mb-4" id="document_pv_cloture_sou">
             {{ form_widget(form.document_pv_cloture_sou) }}
         </div>
         <div id="document_pv_cloture_souooo">
        {% for data in projet.projetsData %}
        {% if(data.cle == "document_pv_cloture_sou") %}
        <a href="{{ asset("uploads/"~ (data.value)) }}" target="_blink">
            {{data.value}}
        </a> <span class="" id="{{data.id}}" onclick="confirmeRemProjet(this.id)">
            <i class="fa fa-trash"></i>
        </span>
        {% endif %}
        {% endfor %}
         </div>
     </div>
     <div class="col-md-3">
         <div class="form-group mb-2  form-control d-flex align-items-centert">
             <label class="cs-label mb-0">{{ form_label(form.pvcloture) }}</label>
             {{ form_row(form.pvcloture, {label_attr: {class: 'switch-custom'} }) }}
         </div>
     </div>
 </div>
 <div class="row mb-4" style="display:none;" id="seemore_sourcing03">
     <div class="col-md-6">
         <div class="form-group mb-4">
         <label class="cs-label">Compte Exportateur</label>
             {{ form_widget(form.Compte_exportateur) }}
         </div>
          <div class="form-group mb-4">
             {{ form_widget(form.comptes_eido ,{'attr': {'class': 'form-group eido'}}) }}
         </div>
         {#
          <div class="form-group mb-2">
             <label class="cs-label">Secteur</label>
             {{ form_widget(form.secteur_sou) }}
         </div> #}
         <div class="form-group mb-2">
             <label class="cs-label">Ecosystème/Filière</label>
             {{ form_widget(form.eco_fil_sou) }}
         </div>
        
        
     </div>
     <div class="col-md-6"> 
        <div class="row">
        <div class="col">
         <div class="form-group mb-4">
             <label class="cs-label">Date</label>
             {{ form_widget(form.date_decision_sou) }}
         </div></div>
        <div class="col">
          <div class="form-group mb-2">
             <label class="cs-label">Référence</label>
             {{ form_widget(form.reference_sou) }}
         </div></div>
        </div>
        <div class="form-group mb-2">
             <label class="cs-label">Produit</label>
             {{ form_widget(form.produit_sou) }}
         </div>
         <div class="form-group mb-4">
             <label class="cs-label">Valeur de commande (Millions/DHs)</label>
             {{ form_widget(form.valeur_cmd_sou,{ 'attr':{'step':'any'} }) }}
             {{ form_errors(form.valeur_cmd_sou) }}
         </div>
     </div>
    
 </div>
<script>
$(document).ready(function() {
	$('#projet_data_secteur_sou').select2({
        width : '100%'
    });
    $('#projet_data_eco_fil_sou').select2({
        width : '100%'
    });
    $('.eido').select2({
        width : '100%'
    }); 
});
 $('#projet_data_Compte_exportateur').on('change', function() {
            var type_compte = $('#projet_data_Compte_exportateur option:selected').text();
            var comptetype = this.value;
             $('#projet_data_comptes_eido').empty();
             $.ajax({
                type: "POST",
                url: "/projets/listecomptesdecision/",
                data: {
                    comptetype: comptetype,
                },
                dataType: "json",
                success: function (response) {        
                    $("#projet_data_comptes_eido").append('<option value=""></option>')
                    for(var i=0; i< response.data.length;i++){
                         $("#projet_data_comptes_eido").append('<option value="'+response.data[i].id+'">'+response.data[i].nom+'</option>')
                     }
                      $('#projet_data_comptes_eido').select2({
                           width : '100%'
                      });
                },
                error: function (response) {
                    // // alert("error !" + response);
                }
            });
        });

   
</script>