{% extends 'base.html.twig' %}

{% block title %}
	{{ 'role.Edit_role'| trans }}
{% endblock %}
{% block sous_title %}
<a class="navbar-brand" href="{{ path('role_index') }}">
	<img src="{{ asset('images/amdie.png') }}" width="30" height="30" class="d-inline-block align-top"
		alt="logo">
		<div class="SousTitre">
		<strong>AMDIE</strong>
	|
	{{ 'role.titre_role'| trans | upper }}
	</div>
</a>
{% endblock %}
{% block navbar_right %}{% endblock %}
{% block navbar_left %}
	<a class="btn btn-blue" href="{{ path('role_index') }}">{{'role.Back_to_list'| trans}}</a>
	<h4 class="navbar-text-color">{{'role.Edit_role'| trans}}</h4>
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			{{ include('role/_form.html.twig', {'button_label': 'role.Update'| trans}) }}
		</div>
	</div>
{% endblock %}
