<table class="tg">
    <tbody>
    <tr>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label mb-0">Intitulé</label>
            <p>{{ projet.titre }}</p>
        </td>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label mb-0">Responsable du projet</label>
            <p>{{ projet.GerePar.nom }} {{ projet.GerePar.prenom }}</p>
        </td>
    </tr>
    <tr>

        <td class="tg-0lax" colspan="2">
            <label class="cs-label mb-0">Confidentiel</label>
            {#        {{ form_row(form.Confidentiel, {label_attr: {class: 'switch-custom'} }) }}#}
            {% if projet.confidentiel %}
                <p> Oui </p>
            {% else %}
                <p> Non </p>
            {% endif %}
        </td>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label mb-0">Prioritaire</label>
            {% for x in projet.projetsData %}
                {% if(x.cle == "Prioritaire") %}
                    {% if x.value %}
                        <p>Oui</p>
                    {% else%}
                        <p>Non</p>
                    {% endif%}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>


        <td class="tg-tf2e" >
            <label class="cs-label"> Status du projet </label>
            {% for key,value in projet.status %}
                <p>{{key|e }}</p>
            {% endfor %}
        </td>
        <td class="tg-0lax"  >
            <label class="cs-label">GPAC</label>
            {% if projet.GPAC == false %}
                <p>Désactivé</p>
            {% else %}
                <p>Activé</p>
            {% endif %}
        </td>
        <td class="tg-tf2e">
            <label class="cs-label">Secteur</label>
            {% for p in projet.projetsData %}
                {% if p.cle == "secteur_expo"%}
                    {% for s in Secteur %}
                        {% if p.value == s.id %}
                            <p> {{ s.nom}} </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

        </td>
        <td class="tg-0lax">
            <label class="cs-label">Compte</label>
            <p>{{ projet.compte.nomCompte }}</p>
        </td>

    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">
            <label class="cs-label">Description du projet</label>
            {% for x in projet.projetsData %}
                {% if x.cle == "Description_projet" %}
                    <p>{{ x.value}}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="tg-tf2e" colspan="4">
            <label class="cs-label">Détails libres sur le projet</label>
            {% for x in projet.projetsData %}
                {% if x.cle == "details_libres" %}
                    <p>{{ x.value}}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th class="tg-tf2e" colspan="4"><h4><strong>Phase d'interêt</strong></h4> </th>
    </tr>
    <tr>
        <td class="tg-0lax">
            <label class="cs-label">Date </label>
            {% for p in projet.projetsData %}
                {% if p.cle == "date_expo" %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label">Objet</label>
            {% for p in projet.projetsData %}
                {% if( p.cle == "objet_expo") %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax" >
            <label class="cs-label">Action</label>
            {% for p in projet.projetsData %}
                {% if(p.cle == "action_expo") %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>

    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">
            <label class="cs-label">Détails</label>
            {% for p in projet.projetsData %}
                {% if(p.cle == "details_libres_in_expo") %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
    <tr>
        <th class="tg-tf2e" colspan="4"><h4><strong>Phase décision</strong></h4> </th>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label">Date </label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'date_decision' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label">Abouti</label>
            {% for x in projet.projetsData %}
                {% if x.cle == "Aboutiexpo" %}
                    {% if x.value %}
                        <p> Oui </p>
                    {% else%}
                        <p>Non</p>
                    {% endif%}
                {% endif %}

            {% endfor %}
        </td>


    </tr>
    <tr>
        <td class="tg-0lax" colspan="4">
            <label class="cs-label">Détails</label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'details_libres_expo_decision' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% for x in projet.projetsData %}
        {% if x.cle == "Aboutiexpo" %}
            {% if x.value %}
                <tr>
                    <td class="tg-0lax">  <label class="cs-label mb-0">Commande</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "Commande_expo" %}
                                {% if x.value %}
                                    <p> Oui </p>
                                {% else%}
                                    <p>Non</p>
                                {% endif%}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="tg-tf2e">
                        <label class="cs-label mb-0">Signature de contrat</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "Signaturedecontrat_expo" %}
                                {% if x.value %}
                                    <p> Oui </p>
                                {% else%}
                                    <p>Non</p>
                                {% endif%}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="tg-0lax" colspan="2">
                        <label class="cs-label mb-0">PV de clôture</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "pvcloture_expo" %}
                                {% if x.value %}
                                    <p>Oui</p>
                                {% else%}
                                    <p>Non</p>
                                {% endif%}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="tg-tf2e">
                        <label class="cs-label mb-0">Date de signature du contrat </label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "date_signature_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>


                    <td class="tg-tf2e">
                        <label class="cs-label mb-0">Date signature PV</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "date_pvclose_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="tg-0lax" >
                        <label class="cs-label mb-0">Date Décision export</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "date_decision_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="tg-0lax" >
                        <label class="cs-label mb-0">Référence</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "reference_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>

                </tr>
                <tr>
                    <td class="tg-0lax" >
                        <label class="cs-label mb-0">Produit</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "produit_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="tg-0lax" >
                        <label class="cs-label mb-0">Valeur de la commande (Millions/Dhs)</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "valeur_cmd_expo" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="tg-0lax" colspan="2">
                        <label class="cs-label" >Comptes </label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "comptes_eido" %}
                                {% for c in listComptes %}
                                    {% for l in x.value|slice(1,-1)|split(',') %}
                                        {% if c.id == l %}
                                            <p> - {{ c.nomCompte }}</p>
                                        {% endif %}
                                    {% endfor%}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif%}
        {% elseif x.cle == "NAboutiexpo"%}
            {% if x.value %}
                <tr>
                    <td class="tg-tf2e" colspan="2">
                        <label class="cs-label mb-0">Date PV cloture non abouti</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "date_pv_cloture_nabouti_sou" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="tg-0lax" colspan="2">
                        <label class="cs-label">Motif</label>
                        {% for x in projet.projetsData %}
                            {% if x.cle == "Motif_sou" %}
                                <p> {{ x.value }} </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif%}
        {% endif %}
    {% endfor %}


    <tr>
        <th class="tg-tf2e text-center" colspan="4"><h4><strong>GPAC</strong></h4> </th>
    </tr>
    <tr>
        <td class="tg-0lax">
            <label class="cs-label">Status </label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'statut_projet' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax">
            <label class="cs-label">Montant du projet</label>
            {% for x in projet.projetsData %}
                {% if x.cle == "montant_projet" %}
                    <p>{{ x.value }}</p>
                {% endif %}
            {% endfor %}
        </td>

        <td class="tg-0lax">
            <label class="cs-label">Type de requête</label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'type_requete' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax">
            <label class="cs-label">Requêtes du comptes</label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'requetes_compte' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>

        <td class="tg-0lax">
            <label class="cs-label">Donneur d'ordre</label>
            {% for x in projet.projetsData %}
                {% if x.cle == "donneur_ordre" %}
                    <p>{{ x.value }}</p>
                {% endif %}
            {% endfor %}
        </td>

        <td class="tg-0lax">
            <label class="cs-label">Programme d'appui</label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'programme_appui' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td class="tg-0lax" colspan="2">
            <label class="cs-label">Informations supplémentaires</label>
            {% for p in projet.projetsData %}
                {% if p.cle == 'informations_supplementaires' %}
                    <p>{{ p.value }}</p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th class="tg-tf2e" colspan="4" ><h4><strong>Actions</strong></h4></th>
    </tr>


    {% for x in logs_projet %}
        <tr>
            <td class="tg-0lax">{{ x.dateCreation |date('Y-m-d') }}</td>
            <td class="tg-0lax">{{ x.status }}</td>
            <td class="tg-0lax" colspan="2">{{ x.commentaire }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="tg-0lax" colspan="2">
            <strong>Crée par :</strong>
            <span class="name">{{ projet.CreePar ? projet.CreePar.prenom ~' '~projet.CreePar.nom : ''}}</span>
        </td>
        <td class="tg-0lax" colspan="2">
            <strong>Date de création :</strong>
            <div class="date-user">
                {{ projet.dateCreation ? projet.dateCreation|date('d/m/Y'): '' }}
            </div>
        </td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="2">
            <strong>Modifié par :</strong>
            <span class="name">{{ projet.ModifiePar ? projet.ModifiePar.prenom ~' '~projet.ModifiePar.nom : ''}}</span>
        </td>
        <td class="tg-0lax" colspan="2">
            <div class="date-user">
                {{ projet.dateModification ? projet.dateModification|date('d/m/Y'): '' }}
            </div>
        </td>
    </tr>
    </tbody>
</table>





