<div class="item-details">
    <div class="item-details-header">
        <div class="d-flex align-items-center">
            <span class="item-logo">
                <div class="namecontact">{{ contact.prenom|upper ~' '~ contact.nom|upper }}</div>
            </span>

            <div class="item-title  align-items-center">
              <span> {{ contact.prenom|capitalize }} </span> <span> &nbsp;{{ contact.nom }} </span>

            </div>
            <div class="wrape-open-project">
                <div class="item-details-header open-project wrap-btn-open-project">
                    <div class=" align-items-center pull-right">
                        <a href="{{ path('contact_detail',{'id': contact.id}) }}"
                            class="btn btn-blue open-btn-blue btn-sm">Ouvrir contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-details-body " style="box-shadow: 0px 3px 6px #00000029">
        <div class="container-fluid item-details-header-body item-contact-header">
            <div class="row">
                <div class="col-sm">
                    <ul class="nav nav-tabs cs-nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#item-details-project" role="tab"
                                aria-selected="true">Informations primaires</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <div class="wrape-type-project">
                    </div>
                </div>
                <div class="col-sm ">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 content-info">

                <div class="item-details">

                    <div class="item-details-body">

                        <div class="tab-content cs-tab-content">
                            <div class="tab-pane fade show active" id="item-details-project" role="tabpanel">
                                <div class="row align-items-end mb-4">


                                    <div class="col-lg-4">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Prénom</label>
                                            <input class="form-control" type="text" 
                                                value="{{ contact.prenom }}" disabled />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Nom</label>
                                            <input class="form-control" type="text"
                                                value="{{ contact.nom }}" disabled/>
                                        </div>
                                    </div>

                                    {#  <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <label class="cs-label">Statut</label>
                                                <select class="form-control">
                                                    <option>Monsieur</option>
                                                </select>
                                            </div>
                                        </div> #}

                                    <div class="col-lg-4">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Profil</label>
                                            <select class="form-control" disabled>
                                                <option>
                                                    {{ contact.profil ? contact.profil.nom : contact.profil }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade show active" id="item-details-project" role="tabpanel">
                                <div class="row align-items-end mb-4">
                                    <div class="col-lg-3">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Canal</label>
                                            <select class="form-control" disabled>
                                                <option>{{ contact.canal ? contact.canal.nom:'' }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                                            <label class="cs-label mb-0">Exclusif</label>
                                             {#                                                 <label class="cs-checkbox">
                                                    <input type="checkbox" value="{{ contact.exclusif ? 'Yes' : 'No' }}">
                                                    <span>&nbsp;</span>
                                                </label> #}
                                            {# {{ form_row(contact.exclusif, {label_attr: {class: 'switch-custom'} }) }} #}

                                            {% if contact.exclusif == 1 %}
                                            <div class="custom-control custom-switch">
                                                 <input type="checkbox" id="scales" name="scales" class="custom-control-input" checked>
                                                 <label class="custom-control-label"></label>
                                            </div>
                                            {% else %}

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" disabled
                                                    id="customSwitch2">
                                                <label class="custom-control-label" for="customSwitch2"></label>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Langue principale</label>
                                            <select class="form-control" disabled>
                                                <option>{{ contact.langugePrincipale }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group mb-0">
                                            <label class="cs-label">Langue secondaire</label>
                                            <select class="form-control" disabled>
                                                <option>{{ contact.langueSecondaire }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    {# <div class="col-lg-3">
                                            <div class="form-group mt-5">
                                                <label class="cs-label">Organisation</label>
                                                <input class="form-control" type="text"
                                                value="{{ contact.organisation }}" disabled/>
                                            </div>
                                        </div> #}

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div> <!-- End first Row Contacte -->
        {# <div class="tab-content cs-tab-content">
            <div class="tab-pane fade show active" id="item-details-project" role="tabpanel">
                    <div class="col-lg-12 content-info">


                        <div class="item-details">

                            <div class="item-details-body">

                            </div>
                        </div>

                    </div>
            </div>
        </div> #}

    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ asset('js/jquery.nameBadges.js') }}"></script>
<script>
	$('.namecontact').nameBadge({

		// boder options
		border: {
			color: '#ddd',
			width: 1
		},

		// an array of background colors.
		colors: ['#c5c5c5'],

		// text color
		text: '#fff',

		// avatar size
		size: 36,

		// avatar margin
		margin: 5,

		// disable middle name
		middlename: true,

		// force uppercase
		uppercase: false

	});
</script>