

<div class="col-lg-8 content-info">
    {{ form_start(form) }}
    <div class="header">
        <ul>
            <li class="capitalize">informations primaires</li>
            <li>informations Investissement</li>
        </ul>
    </div>
    <div class="item-details">

        <div class="item-details-body">

            <div class="tab-content cs-tab-content">
                <div class="tab-pane fade show active" id="item-details-project" role="tabpanel">
                    <div class="row align-items-end mb-4">
                        <div class="col-lg-6">
                            <div class="form-group mb-0">

                                    <label class="cs-label mb-0">Intitulé</label>

                                    {{ form_widget(form.titre) }}

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                                        <label class="cs-label mb-0">{{ form_label(form.Confidentiel) }}</label>
                                        <label class="cs-checkbox">
                                            {{ form_widget(form.Confidentiel) }}
                                            <span>&nbsp;</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-2 d-flex justify-content-between align-items-center">
                                        <label class="cs-label mb-0">{{ form_label(form.Prioritaire) }}</label>
                                        <label class="cs-checkbox">
                                            {{ form_widget(form.Prioritaire) }}
                                            <span>&nbsp;</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-4">
                                <label class="cs-label">{{ form_label(form.Secteur) }}</label>
                                {{ form_widget(form.Secteur) }}
                            </div>
                            <div class="form-group mb-4">
                                <label class="cs-label">{{ form_label(form.Localisation) }}</label>
                                {{ form_widget(form.Localisation) }}
                            </div>
                            <div class="form-group">
                                <label class="cs-label">{{ form_label(form.Documents) }}</label>
                                <label class="cs-input-file mb-2">
                                    {{ form_widget(form.Documents,{'attr':{'class':'file'}}) }}
                                </label>

                                <label class="cs-input-file">
                                    {{ form_widget(form.Document_1,{'attr':{'class':'file'}}) }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-4">
                                <label class="cs-label">{{ form_label(form.Description_projet) }}</label>
                                {{ form_widget(form.Description_projet,{'attr':{'rows':5}}) }}
                            </div>
                            <div class="form-group">
                                <label class="cs-label">{{ form_label(form.details_libres) }}</label>
                                {{ form_widget(form.details_libres,{'attr':{'rows':5}}) }}
                            </div>
                            <div class="form-group" style="display: none">
                                <label class="cs-label">{{ form_label(form.pays_invest) }}</label>
                                {{ form_widget(form.pays_invest) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ form_end(form) }}
</div>


