{% extends 'base.html.twig' %}

{% block title %}Liste des pays
{% endblock %}
{% block sous_title %}Pays
{% endblock %}
{% block navbar_right %}
	<li class="nav-item">
		<a href="{{ path('pays_new') }}" class="btn btn-float text-default btn-blue">
			<i class="icon-add"></i>
			<span>
				{{'compte.Create_new'| trans}}</span>
		</a>
	</li>
{% endblock %}
{% block navbar_left %}{% endblock %}
{% block body %}

	<div class="card">

		<div class="card-body">
			<table class="table">
				<thead>
					<tr>

						<th>Nom</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for pay in pays %}
						<tr>

							<td>{{ pay.nom }}</td>
							<td>
								<a href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
								<a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="2">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination justify-content-end" style="margin:2%">
				{{ knp_pagination_render(pays) }}
			</div>
		</div>
	</div>
{% endblock %}
