<div class="header">
    <ul class="form-project form-project-interet">
        <li class="title-btn linkInteret capitalize active" id="#phase-interet"
            onclick="openInteret(event, 'phase-interet')">Phase intérêt</li>
        {% if projet.status is null %}
        <div class="hide">
            <li class="title-btn linkInteret capitalize" id="#info-invest"
                onclick="openInteret(event, 'phase-decision')">Phase décision</li>
        </div>
        {% endif %}
        {% for key in projet.status|keys %}
        {% if (key == "Intérêt") %}
        <div class="hide">
            <li class="title-btn linkInteret capitalize" id="#info-invest"
                onclick="openInteret(event, 'phase-decision')">Phase décision</li>
        </div>
        {% else %}
        {% if app.user.groupe.id!=24%}
        <li class="title-btn linkInteret capitalize" id="#info-invest" onclick="openInteret(event, 'phase-decision')">
            Phase décision</li>
        {% endif %}

        {% endif %}
        {% endfor %}
        {% if projet.GPAC == true %}
        <li class="title-btn linkInteret capitalize" id="#gpac" onclick="openInteret(event, 'gpac')">GPAC</li>
        {% endif %}
        {% if projet.ActionGPAC == true %}
        <li class="title-btn linkInteret capitalize" id="#action-gpac" onclick="openInteret(event, 'action-gpac')">
            Actions GPAC</li>
        {% endif %}
    </ul>
</div>
<div class="item-details ">

    <div class="item-details-body header-projet">

        <div class="tab-content no-left-padding no-right-padding infophases" id="phase-interet">
            <div class="tab-pane fade show active" id="item-details-interet" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="sidbar-activite" onclick="InteretLog()">
                            <ul class="form-project form-activite">
                                <li class="pull-right add-activte">
                                    <a class="" href="#">
                                        <i class="fa  fa-save"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row align-items-end mb-4">
                        <div class="col-lg-4">
                            <div class="form-group mb-0">
                                {{ form_label(form.date_interet) }}
                                {{ form_widget(form.date_interet) }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-0">
                                {{ form_label(form.action_interet) }}
                                {{ form_widget(form.action_interet) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-4" id="M4ROE0">

                                <label class="cs-label">
                                    {{ form_label(form.Events) }}</label>
                                {{ form_widget(form.Events) }}

                            </div>
                            <div class="form-group mb-4" style="display:none">
                                <label class="cs-label">{{ form_label(form.details_interet) }}</label>
                                {{ form_widget(form.details_interet) }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-4">
                                <label class="cs-label">{{ form_label(form.details_interet) }}</label>
                                {{ form_widget(form.details_libres_interet,{'attr':{'rows':5 }}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end mb-4">
                        <div class="col-lg-4">
                            <div class="form-group mb-0">
                                {{ form_label(form.loi_signe_invest) }}
                                 {{ form_row(form.loi_signe_invest, {label_attr: {class: 'switch-custom'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-0"  id="docloisigninvest">
                                {{ form_widget(form.document_loi_signe_invest) }}
            					{% for data in projet.projetsData %}
            						{% if(data.cle == "document_loi_signe_invest") %}
            						<a href="{{ asset("uploads/"~ (data.value)) }}" target="_blink">
                						{{data.value}}
            						</a> <span class="" id="{{data.id}}" onclick="confirmeRemProjet(this.id)">
                						<i class="fa fa-trash"></i>
            						</span>
            					{% endif %}
            					{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-end mb-4">
                        <div class="col-lg-4">
                            <div class="form-group mb-0">
                                {{ form_label(form.Tier) }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-0">
                                {{ form_widget(form.Tier) }}
                            </div>
                        </div>
                    </div>
		    
                </div>
            </div>
        </div>
        {#  End tab-content One #}
        <div class="tab-content no-left-padding no-right-padding infophases" id="phase-decision"
            style="display: none;">
            <div class="tab-pane fade show active" id="item-details-decision" role="tabpanel">
                <div class="container-fluid">
                     {# <div class="row">
                        <div class="sidbar-activite" onclick="DecisionLog()">
                            <ul class="form-project form-activite">
                                <li class="pull-right add-activte">
                                    <a class="" href="#">
                                        <i class="fa  fa-save"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> #}
                    {% if projet.status is null %}
                    <div class="hide">
                        {{ include('projets/form/projet/invest/_form_decision.html.twig', {'button_label': 'projet.Update'| trans }) }}
                        <br></div>
                    {% endif %}
                    {% for key in projet.status|keys %}
                    {% if (key == "Intérêt") %}
                    <div class="hide">
                        {{ include('projets/form/projet/invest/_form_decision.html.twig', {'button_label': 'projet.Update'| trans }) }}
                        <br></div>
                    {% else %}
                    {{ include('projets/form/projet/invest/_form_decision.html.twig', {'button_label': 'projet.Update'| trans }) }}
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {#  End tab-content Tow #}
        <div class="tab-content no-left-padding no-right-padding infophases" id="gpac"
            style="display: none;">
            <div class="tab-pane fade show active" id="item-details-decision" role="tabpanel">
                <div class="container-fluid">
                    {% if projet.GPAC == true %}
                    {{ include('projets/form/GPAC/_form_investissement.html.twig', {'button_label': 'projet.Update'| trans }) }}
                    {% else %}
                    <div class="hide">
                        {{ include('projets/form/GPAC/_form_investissement.html.twig', {'button_label': 'projet.Update'| trans }) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {#  End tab-content Tow #}
        <div class="tab-content no-left-padding no-right-padding infophases" id="action-gpac"
            style="display: none;">
            <div class="tab-pane fade show active" id="item-details-decision" role="tabpanel">
                <div class="container-fluid">
                    {% if projet.ActionGPAC == true %}
                    {% if app.user.groupe.id == 25 %}
                     {{ include('projets/form/GPAC/_form_action_investissement.html.twig', {'button_label': 'projet.Update'| trans }) }}
                    {% else %}
                     {{ include('projets/form/GPAC/_form_action_investissement_den.html.twig', {'button_label': 'projet.Update'| trans }) }}
                     {% endif %}
                    {% else %}
                    <div class="hide">
                        {{ include('projets/form/GPAC/_form_action_investissement.html.twig', {'button_label': 'projet.Update'| trans }) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {#  End tab-content Tow #}

    </div>
    {# End Iteme detail Body #}
</div>
 <script>
        function InteretLog() {
            var date = $("#projet_data_date_interet").val();
            var action = $("#projet_data_action_interet").val();
            var event = $("#projet_data_Events").val();
            var detail = $("#projet_data_details_libres_interet").val();
            var loisigne = $("#projet_data_loi_signe_invest").prop("checked");
            var loisignedoc = document.getElementById('projet_data_document_loi_signe_invest').files[0];
            var tier = $("#projet_data_Tier").val();
            
            var data = new FormData();
            data.append('date', date);
            data.append('action', action);
            data.append('event', event);
            data.append('detail', detail);
            data.append('pid', {{projet.id}});
            
            if(loisigne == true) {
            	data.append('loisigne', 'Oui');
            } else {
            	data.append('loisigne', 'Non');
            }
            if(loisignedoc != null) {
            	data.append('loisignedoc', loisignedoc, loisignedoc.name);
            }
            
            data.append('tier', tier);
            
            $url = "{{path('log_manzana')}}";
            $.ajax({
                type: "POST",
                url: $url,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    document.location.href = ("/projets/projet/" + response.projet_id);
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'vos changements ont été bien enregistrés.',
                        showConfirmButton: false,
                        timer: 3000
                    })
                },
                error: function (response) {
                    // alert("error !" + response);
                }
            });
        }

   

 </script>
 